@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-poppins: var(--font-poppins);
}

h3,
h4,
h5,
h6
 {
  font-family: var(--font-poppins);
}
.playfair {
  font-family: var(--font-playfair);
}

h1,h2{
  font-family: var(--font-playfair);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

